/* disable selection on all elements */                                                                                 
* {                                                                                                                     
    -webkit-user-select: none;                                                                                          
    user-select:none;                                                                                                   
}


#map {
   
    width: 100%;   
   
}

#map > div {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#map.show-message {
    pointer-events: none;
}

#map .map-overlay {
    display: none;
    z-index: 2;
}

#map.show-message .map-overlay {
    display: block;
    background: rgba(0,0,0,0.5);   
    text-align: center;
    color: #eee;
    text-shadow: 0 -1px 1px black;
}

.center {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.center > div {
    display: table-cell;
    vertical-align: middle;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-transition: margin 0.2s;
     -moz-transition: margin 0.2s;
       -o-transition: margin 0.2s;
          transition: margin 0.2s;
}

.map-container {
  background-size: cover;
}

