<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Handlebars + Helpers with TMDb</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/foundation/5.5.0/css/foundation.css'>

      <link rel="stylesheet" href="../dist/css/search.css">

  
</head>

<body>
  <div class="row moviecard__searchbox">
    <div class="small-6 small-centered columns">

        <form class="row collapse">
            <div class="small-10 columns">
                <input class="js-searchbox" type="text" placeholder="Search for a movie title, e.g.- &ldquo;Alien&rdquo;" autocomplete="off">
            </div>
            <!-- /.columns -->
            <div class="small-2 columns">
                <button class="button postfix js-searchgo" disabled>Go</button>
            </div>
            <!-- /.columns -->
        </form>
        <!-- /.row -->

    </div>
    <!-- /.columns -->
</div>
<!-- /.row -->

<div class="row collapse">
    <div class="small-10 small-centered columns">
        <ul class="moviecard__autocomplete small-block-grid-2 medium-block-grid-4 large-block-grid-6 js-autocomplete"></ul>
    </div>
</div>
<!-- /.row -->

<div id="moviecard" class="reveal-modal moviecard__modal js-modal" data-reveal aria-labelledby="movieTitle" aria-hidden="true" role="dialog"></div> 

<script id="autocomplete" type="text/x-handlebars-template">
    {{#each search.results}}
    <li data-tmdb-id="{{id}}" data-reveal-id="moviecard">
        <img class="th" src=" {{#if poster_path}}{{../../config.images.base_url}}w500{{poster_path}}
        {{else}}
       	https://placeholdit.imgix.net/~text?txtsize=120&txtclr=ffffff&bg=6B8E23&txt=Image+not+Available&w=400&h=600&txttrack=0	{{/if}}">
        <p>{{title}} {{#if cname}} ({{sub_type cname}})</p>{{/if}}
    </li>{{/each}}
</script>

<script id="moviecard" type="text/x-handlebars-template">
    <div class="moviecard" data-timdb-id="{{movie.id}}">
        <div class="row collapse">
            <div class="columns">
                {{#moreThanOne movie.images.backdrops}}
                <div class="moviecard__backdrop">
                	<div id="loading">Backdrop Loading...</div>
                    {{> slider}}
                </div>
                {{else if movie.backdrop_path}}
                <div class="moviecard__backdrop js-backrop" style="background-image:url('{{config.images.base_url}}w1280{{movie.backdrop_path}}')">
                </div>
                {{/moreThanOne}}
            </div>
        </div>
        <div class="row collapse">
            {{#with movie}} {{> info}} {{/with}} {{#if movie.poster_path}}
            <div class="small-2 small-pull-10 columns">
                <img src="{{config.images.base_url}}w500{{movie.poster_path}}" class="moviecard__poster">
            </div>
            {{/if}}
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</script>

<script id="info" type="text/x-handlebars-template">
    <div class="{{#if poster_path}}small-10 small-push-2 {{/if}}columns">
        <div class="moviecard__info">
            <h1 id="movieTitle">{{{cname}}} ({{sub_type}})</h1>
            <ul class="inline-list bio">
                {{#if cname}}
                <li>{{cname}}</li>
                {{/if}} {{#if sub_type}}
                <li>{{sub_type}}min</li>
                {{/if}} {{#if sub_type}}
                <li>
                    <ul class="inline-list inline-list--comma">
                        {{#each sub_type}} {{#if cname}}
                        <li>{{{cname}}}</li>
                        {{/if}} {{/each}}
                    </ul>
                </li>
                {{/if}} {{#if vote_average}}
                <li>
                    <div class="progress small-1 success radius" title="{{vote_average}} / 10">
                        <span class="meter" style="width: {{percent vote_average}}%"></span>
                    </div>
                </li>
                {{/if}}
            </ul>
            {{#if overview}}
            <p>{{{overview}}}</p>
            {{/if}}
        </div>
    </div>
</script>

<script id="slider" type="text/x-handlebars-template">
    <ul class="moviecard__slider" data-orbit data-options="animation:slide; animation_speed:500; bullets:false; navigation_arrows:false; pause_on_hover:true; resume_on_mouseout:true; slide_number:false; timer_speed:5000;">
        {{#each movie.images.backdrops}}
        <li>
            <img src="{{../config.images.base_url}}w1280{{file_path}}" alt="">
        </li>
        {{/each}}
    </ul>
</script>


<!-- Footer -->
<footer class="reverse">
    <div class="container text-center">
        <p>&copy; Company 2014 -
            <script>
                document.write(new Date().getFullYear())
            </script>
        </p>
        <p>All content courtesy of <a href="http://www.imdb.com/" alt="IMDB">IMDB</a> and <a href="http://www.tmdb.org" alt="TMDB">
          The Movie Database</a>
        </p>
    </div>
</footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>

    <script src="../dist/js/spidersearch.js"></script>

</body>
</html>
