


  <section id="fetch">
                <input type="text" placeholder="search for a lodge name" id="search_term" />
                <button id="search" class="btn btn-primary">Search</button>
           </section>
                <div id="lodge_results"></div>
        
        
        
         <script id="lodge_query" type="text/x-handlebars-template">
                {{#if Multiple lodges}}
                    <table class="table">
                        <tbody>
                            {{#each lodges}}
                                <tr>
                                    <td class="title">{{cname}}</td>
                                    
                                </tr>   
                            {{/each}}
                        </tbody>    
                    </table>
                {{else}}
                    {{#ifEmpty lodges}}
                            <div class="alert alert-danger">
                                No results match your search!   
                            </div>
                    {{/ifEmpty}}            
                {{/ifMultiple}} 
        
            </script>
        
        








//Start of search code
Handlebars.registerHelper('ifMultiple', function(array, options) {
    if(array.length > 1) {
        return options.fn(this);
    }
    else{
        return options.inverse(this);
    }
});

//check if array is empty
Handlebars.registerHelper('ifEmpty', function(array, options) {
    if(array.length == 0) {
        return options.fn(this);
    }
    else{//if there is only one performer result display events
        return options.inverse(this);
    }
});







$('#search').on('click', find_lodges);

function find_lodges(lodgeData) {

    var source = $("#lodge_query").html(); 
    var template = Handlebars.compile(source);
    var lodges, cname, lodge_id;
 
    $("#lodge_results").html('');
        var lodge_query = $('#search_term').val();
    
            //make call to the Seat Geek API with users search query        
            $.getJSON(lodge_query+'GET', 'ldt.json', function(lodges) {
              //if only one performer matches the search term search for upcoming concerts by this performer
            if(lodges.lodges.length==1){
                lodge_id = lodges.lodges[0].id;
                find_lodges(lodge_id);
            }
            else{
                //if multiple performers match the search term display all the matches
                $('#lodge_results').append(template(lodges)); 
                //when user clicks the 'view_concerts' button search for upcoming concerts by this performer
                $('.view_concerts').on('click', function(){
                    lodge_id = $(this).attr("performer");
                    lodge_id(lodge_id);
                });
            }
        });
}

$(document).ready(function() {
    //The user can also search by pressing the enter key instead of clicking the search button
    $('#search_term').keyup(function(event) {
        if (event.keyCode == 13) {
            find_lodges();
            return false;
        }
    });
});