<b>Handlebars.js and Solr Demo</b><br>
Type in something reutersey and click the <b>search</b> button!<br>
<input id="searchterm" />
<button id="search">search</button>
<div id="rs"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
<script id="hit-template" type="text/x-handlebars-template">
  <div class="entry">
    <b>{{title}}</b><br>
    {{text}}
  </div>
</script>
<script type='text/javascript'>
  var hitTemplate = Handlebars.compile($("#hit-template").html());
  $("#search").click(function(){
    $("#rs").empty();
    $.getJSON("ldt.json" + $("#lodges").val() + "&wt=json&json.wrf=?&indent=true", function(result){
      for (var i = 0; i < result.response.docs.length; i++) {
        $("#rs").append(hitTemplate({cname: result.response.docs[i].cname, text: result.response.docs[i].text}));
      }
    });
  });
</script>